<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Message Board</title>
</head>
<body>
 
  <ul>
    <% for (let message of messages) { %>
      <% let sender = message.sender %>
      <li>
        <% if (user) { %>
          <div><%= sender.username %></div>
          <div><%= message.timeStamp %></div>
        <% } %>
      
        <p><%= message.title %></p>
        <p><%= message.text %></p>
      </li>
    <% } %>
  </ul>
  

  <!-- form(action=`/computers/${computer._id}` method="POST" class="delete")
  input(type="hidden" name="_method" value="DELETE")
  input(type="submit" value="Delete") -->


  <% if (user) { %>
    <%- include('message-form') %>
  <% } %>
  
   
</body>
</html>