<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Message Board</title>
</head>
<body>
  <% if (Array.isArray(messages)) { %>
    <ul>
      <% for(let message of messages) { %>
        <li>
          <% if (user) { %>
            <div><%= message.sender.username %></div>
            <div><%= message.timeStamp %></div>
          <% } %>
          <div><%= message.title %></div>
          <div><%= message.content %></div>
        </li>
      <% } %>
    </ul>
  <% } %>
  <%- include('message-form') %>
  
</body>
</html>