<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Message Board</title>
</head>
<body>
  <% if (Array.isArray(messagesWithSenderName)) { %>
    <ul>
      <% for (let message in messagesWithSenderName) { %>
        <li>
          <% if (user) { %>
            <div><%=  %></div>
            <div><%= message.timeStamp %></div>
          <% } %>
          <div><%= message.title %></div>
          <div><%= message.content %></div>
        </li>
      <% } %>
    </ul>
  <% } %>


  <% messagesWithSenderName.forEach(function(message) { %>
    <p>Title: <%= message.senderName %></p>
    <p>Title: <%= message.title %></p>
    <p>Message: <%= message.content %></p>
    <p>Time: <%= message.timeStamp %></p>
  <% }); %>


  <%- include('message-form') %>
   
</body>
</html>
